:root{
    --background-color: rgb(189, 4, 189);
    --text-color: rgb(91, 13, 91);
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color)
}